.col2 {
    margin:0 20% 0 20%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.code {
    color: blue;
}
.code p {
    color: darkgreen;
}
img#face {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
   }
img#hobby {
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
   }
